body {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
}

#headwide {
    width: 100%;
    background-color:#ffffff;
    border: solid black;
    border-width: 0px 0px 5px 0px;
    top: 0;
    left: 0;
    position: fixed;
    height: 90px;
    z-index: 4;
}

header {
    border: solid black;
    border-width: 0px 0px 5px 0px;
    top: 0;
    position: fixed;
    left: 50%;
    margin: 0 0 20px -472px;
    width: 960px;
    height: 90px;
    background-color: #ffffff;
    z-index: 5;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 32px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center {
    vertical-align: middle;
}

.buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 250px;
    right: 0;
    font-size: 14px;
    padding: 20px 0px 20px 20px;
    float: right;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
    border-spacing: 50px;
}

#about {
    float: left;
    width: 33.3%;
}

#portfolio {
    float: left;
    width: 33.3%;
}

#contact {
    float: left;
    width: 33.3%;
}

.section2 {
    width: 960px;
    background-color: #ffffff;
    z-index: 3;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    padding: 15px;
    margin: 0;
    font-size: 20px;
    line-height: 35px;
}

h2 {
    font-size: 30px;
    background-color: #ffffff;
    border: solid #666666;
    border-width: 0px 0px 3px 0px;
    height: 30px;
    margin-bottom: 20px;
    padding: 20px 0 20px 0;
    clear: right;
}

footer {
    font-size: 12px;
    width: 100%;
    position: fixed;
    left: 0;
    text-align: center;
    bottom: 0px;
    margin-top: 20px;
    background-color: #666666;
    z-index: 2;
}